@font-face {
  font-family: '焚火フォント';
  src: url('../fonts/04Takibi-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'テガキカクット';
  src: url('../fonts/851H-kktt_004.ttf') format("truetype");
}

@font-face {
  font-family: 'AP';
  src: url('../fonts/AP.ttf') format("truetype");
}

@font-face {
  font-family: 'しねきゃぷしょん';
  src: url('../fonts/cinecaption226.ttf') format("truetype");
}

@font-face {
  font-family: 'CPFont';
  src: url('../fonts/CPFont.otf') format("opentype");
}

@font-face {
  font-family: '昔々ふぉんと';
  src: url('../fonts/gomarice_mukasi_mukasi.ttf') format("truetype");
}

@font-face {
  font-family: 'モギハ';
  src: url('../fonts/mogihaPen.ttf') format("truetype");
}

@font-face {
  font-family: 'にゃしぃフォント改二';
  src: url('../fonts/Nyashi.otf') format("opentype");
}

@font-face {
  font-family: 'ピグモ00';
  src: url('../fonts/Pigmo-00.otf') format("opentype");
}

@font-face {
  font-family: 'ピグモ01';
  src: url('../fonts/Pigmo-01.otf') format("opentype");
}

@font-face {
  font-family: 'ポプらむ☆キュート';
  src: url('../fonts/PopRumCute.otf') format("opentype");
}
